@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POC ASP.NET</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <a target="_blank" href="https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-aspnet-session-state-provider">Session State Provider for Azure Cache for Redis</a>
        </p>
    </div>

</div>